@font-face {
    font-family: 'Roboto';
    src: local('/fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: local('/fonts/Roboto-Medium.ttf');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: local('/fonts/Roboto-Bold.ttf');
    font-weight: 700;
}
